.box1{
	background: red;
	height: 500px;
	width: 100%;
}
.box2{
	background: blue;
	height: 500px;
	width: 100%;
}
.box3{
	background: yellow;
	height: 500px;
	width: 100%;
}

.box4{
	background: green;
	height: 500px;
	width: 100%;
}